$solid-orange: #ff7e5f;
$light-orange: #feb47b;
$pure-white: white;
$main-box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
$padding1530 : 15px 30px;

/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 32px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding1530;
    box-shadow:$main-box-shadow;
    margin-bottom: 10px;
    
    .logo {
        font-size: 24px;
        font-weight: bold;
        color: $solid-orange;
    }
    .nav-links {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 10px;
        }
        a {
            text-decoration: none;
            font-weight: bold;
            &:hover
            {
                color: $solid-orange;
            }
        }

    }
}

/* Primary Button */
.primary-btn {
    display: inline-block;
    padding: $padding1530;
    cursor: pointer;
    
    font-size: 18px;
    font-weight: bold;
    color: $pure-white;

    text-decoration: none;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, $solid-orange, $light-orange);
    &:hover
    {
        box-shadow: 0px 5px 15px rgba(255, 126, 95, 0.4);

    }
}
/* Main Section */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;
    .content {
        width: 50%;
    }
    h1 {
        font-size: 48px;
        color: $solid-orange;
    }
    p {
        font-size: 18px;
    }
     img {
        width: 40%;
    }
}


/* Features & Plans Sections */
.features {
    background: #f3f3f3;
}
.center-section {
    text-align: center;
    padding: 50px 10px;
}
.card-list {
    display: flex;
    justify-content: space-between;
}
.card {
    background: $pure-white;
    padding: 20px;
    width: 27%;
    border-radius: 10px;
    box-shadow: $main-box-shadow;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: $pure-white;
}

/* Responsive */
@media screen and (max-width: 992px) {
    .card-list {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .card {
        width: 80%;
    }
}
